<footer class="footerContainer">
	<div class="footerInfo">
		<strong>Products</strong>
		<ul>
			<li>Most Popular</li>
			<li>Offers</li>
			<li>New Products</li>
		</ul>
	</div>
	<div class="footerInfo">
		<strong>About us</strong>
		<ul>
			<li>About us</li>
			<li>Local</li>
			<li>Map</li>
		</ul>
	</div>
	<div class="footerInfo">
		<strong>Contacto</strong>
		<ul>
			<li>Tel: +8421578495</li>
			<li>Twitter: @ecommerce</li>
			<li>Instagram @ecommerce</li>
			<li>Email: Siempreviva123@gmail.com</li>
		</ul>
	</div>
</footer>
