@import "../../../../styles/breakpoints";

.footerContainer {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 10px 5px;
    text-align: center;
    background-color: rgb(52, 107, 211);
    color: white;
    
	@include media(tablet) {
        flex-direction: row;
		justify-content: space-evenly;
		padding: 15px 10px;
        text-align: left;
	}
}

.footerInfo > strong{
    letter-spacing: 2px;
}
